label{
  display: block;
  margin-top: 20px;
  text-align: left;
}

input, textarea {
  box-sizing: border-box;
  width: 200px;
  padding: 3px;
  font: 1em sans-serif;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #C0C0C0 inset;
}
input:hover, textarea:hover{
  cursor:text;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border: none;
  max-width: 80%;
  margin: 0 auto;
}

textarea {
  width: 250px;
  height: 120px;
}

.msg-button {
  cursor: pointer !important;
}

