
.recipe-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.recipe-pic {
    max-width: 90%;
    height: auto;
}

@media only screen and (min-width: 961px) {

    .recipe-pic {
        max-width: 50%;
    }
}

.asian-intro {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2.5em;
    border:0.2rem solid;
    border-color: var(--international-orange-aerospace);
    border-radius: 0.3rem; 
    -moz-box-shadow:2px 2px 5px var(--international-orange-aerospace);
    -webkit-box-shadow:2px 2px 5px var(--international-orange-aerospace);
    box-shadow:2px 2px 5px var(--international-orange-aerospace);
    }

@media only screen and (min-width: 961px) {   
    .asian-intro {
     margin-right: 10%;
     margin-left: 10%;
    }
}    

.recipe-content .middle-wrapper {
    justify-content: center;
    height: 100%;
    padding: 5px;  
}

@media only screen and (min-width: 961px) {
    
    .recipe-content .middle-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}


.ingredients-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 3px;
}

.recipe-content .middle-wrapper .ingredients-card-content {
    padding: 10px;
    line-height: 1.5em;
}

.recipe-content .middle-wrapper .ingredients-card-header {
    padding: 15px;
    font-size: 1.25rem;
    background-color: var(--international-orange-aerospace);
    margin-block-start: 0em;
    margin-block-end: 0.3em;
}

@media only screen and (min-width: 961px) {
    .ingredients-card {
        max-height: 80%;
        margin: 5%;

    }
}

.recipe-content .middle-wrapper .wine-advices {
    width: 60%;
    padding: 3%;
    padding-top: 5px;
    margin-right: 20%;
    margin-bottom: 8%;
    margin-left: 20%;
    line-height: 2.5em;
    border:0.2rem solid;
    border-color: var(--rust);
    border-radius: 0.3rem; 
    -moz-box-shadow:2px 2px 2px var(--rust);
    -webkit-box-shadow:2px 2px 2px var(--rust);
    box-shadow:2px 2px 5px var(--rust);
}

@media only screen and (min-width: 961px) {
    .recipe-content .middle-wrapper .wine-advices {
        padding-top: 3%;
        margin: 5%;
    }
}

.recipe-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 3px;
}

.recipe-card-header {
    padding: 15px;
    font-size: 1.25rem;
    background-color: var(--international-orange-aerospace);
    margin-block-start: 0em;
    margin-block-end: 0.3em;
}

.recipe-card-content {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 5em;
}

@media only screen and (min-width: 961px) {
    .recipe-card {
        width: 80%;
        margin-left: 10%;
    }

    .recipe-card-content {
        padding-right: 10%;
        padding-left: 10%;
    }
}    