
.recipe-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.recipe-pic {
    max-width: 70%;
    height: auto;
}

.recipe-pic-card {
    margin-left: 15%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 50px 0px;
}

@media only screen and (min-width: 961px) {
    .recipe-pic {
        max-width: 60%;
    }

    .recipe-pic-card {
        max-width: 100%;
        margin-left: 15%;
    }
}

.intro {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2.5em;
    border:0.2rem solid;
    border-radius: 0.3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}     

.intro-asia {
    border-color: var(--international-orange-aerospace);
}

.intro-america {
    border-color: var(--orange-yellow);
}

.intro-europe {
    border-color: var(--rust);
}

.intro-africa {
    border-color: var(--mariegold);
}

@media only screen and (min-width: 961px) {   
    .asian-intro {
     margin-right: 10%;
     margin-left: 10%;
    }
}    

.recipe-content .middle-wrapper {
    justify-content: center;
    height: 100%;
    padding: 5px;  
}

@media only screen and (min-width: 961px) {
    .recipe-content .middle-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}

.ingredients-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#recipePeople {
    background-color: rgba(255, 251, 247, 0.856);
    margin-top: 8px;
    margin-right: 5px;
    max-width: 40%;
    outline: none;
}

.recipe-content .middle-wrapper .ingredients-card-content {
    padding: 10px;
    line-height: 1.5em;
}

.recipe-content .middle-wrapper .ingredients-card-header {
    padding: 15px;
    font-size: 1.25rem;
    margin-block-start: 0em;
    margin-block-end: 0.3em;
}

.ingredients-asia {
    background-color: var(--international-orange-aerospace);
}

.ingredients-america {
    background-color: var(--orange-yellow);
}

.ingredients-europe {
    background-color: var(--rust);
}

.ingredients-africa {
    background-color: var(--mariegold);
}

@media only screen and (min-width: 961px) {
    .ingredients-card {
        max-height: 80%;
        margin: 5%;
    }
}

.recipe-content .middle-wrapper .wine-advices {
    width: 60%;
    padding: 3%;
    padding-top: 5px;
    margin-right: 20%;
    margin-bottom: 8%;
    margin-left: 20%;
    line-height: 2.5em;
    border:0.2rem solid;
    border-color: var(--rust);
    border-radius: 0.3rem; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media only screen and (min-width: 961px) {
    .recipe-content .middle-wrapper .wine-advices {
        padding-top: 3%;
        margin: 4%;
    }
}

.recipe-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipe-card-header {
    padding: 15px;
    font-size: 1.25rem;
    margin-block-start: 0em;
    margin-block-end: 0.3em;
}

.recipe-asia {
    background-color: var(--international-orange-aerospace);
}

.recipe-america {
    background-color: var(--orange-yellow);
}

.recipe-europe {
    background-color: var(--rust);
}

.recipe-africa {
    background-color: var(--mariegold);
}

.recipe-card-content {
    padding-right: 5%;
    padding-left: 5%;
    line-height: 5em;
}

@media only screen and (min-width: 961px) {
    .recipe-card {
        width: 80%;
        margin-left: 10%;
    }

    .recipe-card-content {
        padding-right: 10%;
        padding-left: 10%;
    }
}    

.author-link {
    color: rgba(8, 4, 0, 0.7);
    text-decoration: none;
}

.author-link:hover {
    color: #8ea604;
}


.comment-card {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 30px;
    margin-left: 15%;
    background-color: rgba(255, 251, 247, 0.7);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.comment-card-header {
    padding: 15px;
    font-size: 1.25rem;
    margin-block-start: 0em;
    margin-block-end: 0.3em;
    background-color:  #8ea604;
}

.comment-card-form {
    display: block;
    width: 90%;
    background-color: rgba(255, 251, 247, 0.7);
    border: none;
}

@media only screen and (min-width: 961px) {
    .comment-card-form {
        padding-left: 30%;
    }
    
}

#yourcomment {
    width: 250px;
}

#comments-button {
	padding:6px 6px 6px 6px;
    margin-top: 15px;
	color:#555;
	background: #f5f5f5;
	border:none;
    border-radius:12px 0 12px 0;
    box-shadow:1px 1px 3px #999;
}

#comments-button:hover {
    background-color: #8ea604;
}






.comment-card-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    border-top: thick double #8ea604;
}

.comment-pic {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 0;
    margin-left: 10px;
    border-radius: 50%;

}


.comment-body {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.comment {
    margin: 0;
}




@media only screen and (min-width: 961px) {
    .comment-card {
        width: 80%;
        margin-left: 10%;
    }

    .comment-card-content {
        padding-right: 10%;
        padding-left: 10%;
    }
}   