.team-h2{
    width:100%;
    margin-bottom: 6rem;
}
.team-main{
    justify-content: space-around;
}
.team-content{
    width:40%;
    min-width:300px;
    border:0.2rem solid var(--text-black);
    margin-bottom: 3rem;
}
.team-content img{
    width : 100%;
}
.team-button{
    background-color: var(--citron);
    border: 0.1rem solid rgba(255, 255, 255, 0);
    color: var(--text-black);
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.team-button:hover{
    background-color: var(--body-background);
    border: 0.1rem solid var(--citron);
    cursor: pointer;
}